<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Associação UP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="logo-box">
                <img src="https://lh3.googleusercontent.com/pw/AP1GczNpQgcKdjrPtG5_hFduq6SHJ40UfEDV6T8GhniGV3KV8pMjqQ6xmiD8U9ZIOz_DVdy3GuQbEAc3Ev6rs0JITr0vBDgavm1dh4FOeGK8pdvwQqrMQBj6wyryosjZdHOkcqSR-zOMCPCFCO2ffz8JPerppg=w911-h911-s-no-gm?authuser=0"
                     alt="Logo Associação UP" id="logo-up">
            </div>
            <span>Bem-vindo à Associação UP</span>
        </div>

        <div class="logo-nav">
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Início</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Eventos</a></li>
                    <li><a href="#">Publicações</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section id="banner">
            <h2>Bem-vindo à Associação UP</h2>
            <p>Promovendo conhecimento e cultura</p>
        </section>

        <div id="conteudo">
            <section id="noticias">
                <h2>Últimas Notícias</h2>
                <div class="noticias-container">
                    <div class="noticia">
                        <img src="https://ichef.bbci.co.uk/ace/ws/800/cpsprodpb/5006/live/384498e0-0e69-11f0-a16f-bf3e3a129fee.jpg.webp" alt="Imagem da notícia 1">
                        <h3>Marine Le Pen é condenada e declarada inelegível</h3>
                        <p>A justiça francesa condenou a líder da direita radical Marine Le Pen, tornando-a inelegível.</p>
                        <a href="https://www.bbc.com/portuguese/articles/c78j58jzp89o" target="_blank">Leia mais</a>
                    </div>
                    <div class="noticia">
                        <img src="https://s2-g1.glbimg.com/anlhpY4IT96SsGBiO86fEeKiWEs=/0x0:4953x3392/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2025/d/o/4ekuu6S2evct2gHWM4Hg/2025-03-31t100245z-1945111888-rc2jscaxmbwr-rtrmadp-3-usa-trump-musk-driver.jpg" alt="Imagem da notícia 2">
                        <h3>Musk deixará governo Trump</h3>
                        <p>Elon Musk deixará seu cargo no governo de Donald Trump nas próximas semanas, segundo fontes.</p>
                        <a href="https://g1.globo.com/mundo/noticia/2025/04/02/musk-deixara-governo-trump-nas-proximas-semanas-diz-site.ghtml" target="_blank">Leia mais</a>
                    </div>
                    <div class="noticia">
                        <img src="https://i0.statig.com.br/bancodeimagens/04/bf/1q/04bf1qlbavj79ghxnheb8x9nd.jpg" alt="Imagem da notícia 3">
                        <h3>Vendas da Tesla caem 13% no 1º trimestre, com redução da demanda e reação a Elon Musk</h3>
                        <p>As vendas da Tesla caíram significativamente no primeiro trimestre, impactadas por fatores econômicos e a imagem de Elon Musk.</p>
                        <a href="https://g1.globo.com/carros/dinheiro-sobre-rodas/noticia/2025/04/02/vendas-da-tesla-caem-13percent-no-1o-trimestre-com-reducao-da-demanda-e-reacao-a-elon-musk.ghtml" target="_blank">Leia mais no G1</a>
                    </div>
                </div>
            </section>
        </div>
  
    </main>

    <footer>
        <p>&copy; 2025 Associação UP - Todos os direitos reservados.</p>
    </footer>
</body>
</html>
