<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redes Sociais</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="card">
            <h1> Redes</h1>
            <p> Site em manutenção. Por favor, retorne em breve...</p>
            <a href="{{ url_for('home') }}"> <button class="voltar">Voltar</button></a>
        </div>
    </div>
</body>
</html>
